<app-navbar></app-navbar>

<form [formGroup]="profileForm" (ngSubmit)="onSave()">
  <section class="tela-perfil">
    <div class="card card-grande">
      <h2>Perfil & Endereço</h2>

      <div class="form-grupo">
        <div class="perfil">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" />
            <mat-error
              *ngIf="
                profileForm.get('nome')?.touched &&
                profileForm.get('nome')?.invalid
              "
            >
              O nome é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" />
            <mat-error
              *ngIf="
                profileForm.get('email')?.touched &&
                profileForm.get('email')?.invalid
              "
            >
              O e-mail é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" />
            <mat-error
              *ngIf="
                profileForm.get('cpf')?.touched &&
                profileForm.get('cpf')?.invalid
              "
            >
              O CPF é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" mask="(00) 00000-0000" />
            <mat-error
              *ngIf="
                profileForm.get('telefone')?.touched &&
                profileForm.get('telefone')?.invalid
              "
            >
              O telefone é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Salário</mat-label>
            <input matInput formControlName="salario" />
            <mat-error
              *ngIf="
                profileForm.get('salario')?.touched &&
                profileForm.get('salario')?.invalid
              "
            >
              O salário é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div class="endereco">
          <mat-form-field appearance="outline">
            <mat-label>Endereço Completo</mat-label>
            <input matInput formControlName="endereco" />
            <mat-error
              *ngIf="
                profileForm.get('endereco')?.touched &&
                profileForm.get('endereco')?.invalid
              "
            >
              O endereço é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="cidade" />
            <mat-error
              *ngIf="
                profileForm.get('cidade')?.touched &&
                profileForm.get('cidade')?.invalid
              "
            >
              A cidade é obrigatória
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="estado" />
            <mat-error
              *ngIf="
                profileForm.get('estado')?.touched &&
                profileForm.get('estado')?.invalid
              "
            >
              O estado é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="status" class="status-message">
        {{ status }}
      </div>

      <div class="botoes">
        <button
          mat-raised-button
          type="submit"
          [disabled]="profileForm.invalid"
        >
          Salvar alterações
        </button>
        <button mat-button class="btn-voltar" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </section>
</form>
