frontend/package-lock.json
microservicos/ms-auth/target/classes/msauth/ms_auth/MsAuthApplication.class
microservicos/ms-auth/target/classes/msauth/ms_auth/config/SecurityConfig.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/Role.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/UsuarioEntity.class
microservicos/ms-auth/target/classes/msauth/ms_auth/repositories/UsuarioRepository.class
microservicos/ms-auth/target/test-classes/msauth/ms_auth/MsAuthApplicationTests.class
auth.env
microservicos/ms-auth/target/classes/msauth/ms_auth/MsAuthApplication.class
microservicos/ms-auth/target/classes/msauth/ms_auth/config/SecurityConfig.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/Role.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/UsuarioEntity.class
microservicos/ms-auth/target/classes/msauth/ms_auth/repositories/UsuarioRepository.class
microservicos/ms-auth/target/test-classes/msauth/ms_auth/MsAuthApplicationTests.class
microservicos/ms-auth/target/classes/msauth/ms_auth/MsAuthApplication.class
microservicos/ms-auth/target/classes/msauth/ms_auth/config/SecurityConfig.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/Role.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/UsuarioEntity.class
microservicos/ms-auth/target/classes/msauth/ms_auth/repositories/UsuarioRepository.class
microservicos/ms-auth/target/test-classes/msauth/ms_auth/MsAuthApplicationTests.class

