frontend/package-lock.json
microservicos/ms-auth/target/classes/msauth/ms_auth/MsAuthApplication.class
microservicos/ms-auth/target/classes/msauth/ms_auth/config/SecurityConfig.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/Role.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/UsuarioEntity.class
microservicos/ms-auth/target/classes/msauth/ms_auth/repositories/UsuarioRepository.class
microservicos/ms-auth/target/test-classes/msauth/ms_auth/MsAuthApplicationTests.class
auth.env
microservicos/ms-auth/target/classes/msauth/ms_auth/MsAuthApplication.class
microservicos/ms-auth/target/classes/msauth/ms_auth/config/SecurityConfig.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/Role.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/UsuarioEntity.class
microservicos/ms-auth/target/classes/msauth/ms_auth/repositories/UsuarioRepository.class
microservicos/ms-auth/target/test-classes/msauth/ms_auth/MsAuthApplicationTests.class
microservicos/ms-auth/target/classes/msauth/ms_auth/MsAuthApplication.class
microservicos/ms-auth/target/classes/msauth/ms_auth/config/SecurityConfig.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/Role.class
microservicos/ms-auth/target/classes/msauth/ms_auth/entities/UsuarioEntity.class
microservicos/ms-auth/target/classes/msauth/ms_auth/repositories/UsuarioRepository.class
microservicos/ms-auth/target/test-classes/msauth/ms_auth/MsAuthApplicationTests.class


microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservicos/Mscliente/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
microservicos/Mscliente/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
microservicos/Mscliente/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservicos/Mscliente/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
private-key.pem
public-key.pem
microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

target/
microservicos/APIGateway/.env
private-key.pem
public-key.pem
microservicos/ms-auth/private-key.pem
microservicos/ms-auth/public-key.pem
microservicos/ms-auth/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
