<div class="cliente-detalhes-container" *ngIf="cliente">
  <h2>Detalhes do Cliente</h2>

  <div class="info">
    <p><strong>Nome:</strong> {{ cliente.nome }}</p>
    <p><strong>CPF:</strong> {{ cliente.cpf }}</p>
    <p><strong>E-mail:</strong> {{ cliente.email }}</p>
    <p><strong>Salário:</strong> {{ cliente.salario | currency : "BRL" }}</p>
  </div>

  <h3>Informações da Conta</h3>
  <div class="info">
    <p><strong>Número da Conta:</strong> {{ cliente.conta }}</p>
    <p [ngClass]="{ 'saldo-negativo': isSaldoNegativo() }">
      <strong>Saldo:</strong> {{ cliente.saldo | currency : "BRL" }}
    </p>
    <p><strong>Limite:</strong> {{ cliente.limite | currency : "BRL" }}</p>
  </div>

  <h3>Gerente Responsável</h3>
  <div class="info">
    <p><strong>Nome:</strong> {{ cliente.gerente_nome }}</p>
    <p><strong>CPF:</strong> {{ cliente.gerente }}</p>
  </div>

  <button (click)="voltar()">Voltar</button>
</div>

<div *ngIf="!cliente">
  <p>Cliente não encontrado.</p>
  <button (click)="voltar()">Voltar</button>
</div>