<!-- HTML -->
<div class="tela-login">
  <!-- Fundo azul com formas -->
  <div class="login-bg">
    <!-- Formas geométricas -->
    <div class="formas"></div>
    <!-- Logo -->
    <div class="logo-container">
      <img src="logo-din-din.webp" alt="Logo" />
    </div>
  </div>

  <!-- Retângulo branco com canto superior esquerdo arredondado -->
  <div class="login-white">
    <div class="login-container">
      <h2><b>Acesse sua conta:</b></h2>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="account" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>

          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            A senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          type="submit"
          id="login-button"
          [disabled]="loginForm.invalid"
          [ngClass]="{ ativo: loginForm.valid, inativo: loginForm.invalid }"
        >
          Acessar Conta
        </button>
      </form>

      <div class="to-cadastro">
        <span
          >Não tem uma conta? <a routerLink="/cadastro">Abra já a sua!</a></span
        >
      </div>

      <div style="margin-top: 20px">
        <button type="button" (click)="resetMockData()">
          <strong>PIPIPI RESET</strong>
        </button>
      </div>
    </div>
  </div>
</div>
