<div class="clientes-dashboard">
  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Nome do Cliente</th>
        <th>CPF</th>
        <th>Limite</th>
        <th>Salário</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf | formatarCpf }}</td>
        <td>{{ calcularLimite(cliente.salario) | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR"}}</td>
        <td>{{ cliente.salario | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR"}}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <button class="botaoDetalhes" (click)="aprovar(cliente.cpf)" type="button">Aprovar</button>
          <button class="botaoDetalhes" (click)="abrirRejeicao(cliente)" type="button">
            Reprovar
          </button>
        </td>
      </tr>
      <tr *ngIf="clientes.length === 0">
        <td colspan="5">Nenhum cliente para ser aprovado.</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="clienteRejeicao" class="modal">
  <div class="modal-content">
    <h3>Motivo da Rejeição</h3>
    <textarea [(ngModel)]="motivoRejeicao"></textarea>
    <br />
    <button (click)="confirmarRejeicao()">Confirmar</button>
    <button (click)="cancelarRejeicao()">Cancelar</button>
  </div>
</div>

<!-- Mensagem de envio de email -->
<div *ngIf="emailStatus" [ngClass]="{
       'text-blue-600': emailStatus === 'enviando',
       'text-green-600': emailStatus === 'sucesso',
       'text-red-600': emailStatus === 'erro'
     }">
  {{ emailMessage }}
</div>