<div class="gerentes-dashboard">
  <table>
    <thead>
      <tr>
        <th>Nome do Gerente</th>
        <th>Qtd. Clientes</th>
        <th>Total Saldo Positivo</th>
        <th>Total Saldo Negativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gerente of gerentes">
        <td>{{ gerente.gerente.nome }}</td>
        <td>{{ qtdClientes }}</td>
        <td>{{ gerente.saldo_positivo | currency : "BRL" }}</td>
        <td>{{ gerente.saldo_negativo | currency : "BRL" }}</td>
      </tr>
      <tr *ngIf="gerentes.length === 0">
        <td colspan="5">Nenhum gerente cadastrado.</td>
      </tr>
    </tbody>
  </table>
</div>
