<div class="tela-cadastro">
  <div class="cadastro-esquerda">
    <div class="formas"></div>
    <div class="logo-container">
      <img src="logo-din-din.webp" alt="Logo" />
    </div>
    <div class="textos-esquerda">
      <p>Já tem um cadastro? <a routerLink="/">Faça login.</a></p>
    </div>
  </div>

  <div class="cadastro-direita">
    <div class="cadastro-container">
      <h2>Cadastro</h2>

      <div *ngIf="mensagem" [class]="tipoMensagem === 'sucesso' ? 'mensagem-sucesso' : 'mensagem-erro'"
        class="mensagem">
        {{ mensagem }}
      </div>

      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="nome" placeholder="Nome Completo *">
        <input type="email" formControlName="email" placeholder="E-mail *">
        <input type="text" formControlName="cpf" placeholder="CPF *" (input)="formatarCPF($event)">
        <input type="text" formControlName="salario" placeholder="Salário *" (keyup)="formatarSalario($event)"
          (keydown)="permitirSomenteNumeros($event)">
        <input type="text" formControlName="cep" placeholder="CEP *" (input)="formatarCEP($event)">
        <input type="text" formControlName="endereco" placeholder="Endereço *">
        <input type="text" formControlName="cidade" placeholder="Cidade *">
        <input type="text" formControlName="estado" placeholder="Estado *">
        <input type="text" formControlName="complemento" placeholder="Complemento">
        <button type="submit" [disabled]="carregando"
          [ngClass]="{'ativo': cadastroForm.valid, 'inativo': cadastroForm.invalid}">
          {{ carregando ? 'Processando...' : 'Cadastrar' }}
          <span *ngIf="carregando" class="loading"></span>
        </button>
      </form>
    </div>
  </div>
</div>