<div id="background">
    <div id="container">
        <div class="subcontainer" id="esquerda">
            <div id="topo">

            </div>

            <div id="dizer">
                <div id="titulo">
                    <h1>Cadastro</h1>
                </div>

                <div id="descricao">
                    <p>Já tem um cadastro?</p>
                    <a routerLink="">Faça login.</a>
                </div>
            </div>
        </div>

        <div id="centro">
            >
        </div>

        <div class="subcontainer" id="direita">
            <form id="cadastro">
                <label>Nome Completo</label>
                <input type="text" name="nome" id="nome" class="input">
                
                <label>CPF</label>
                <input type="text" name="cpf" id="cpf" class="input">
                
                <label>E-mail</label>
                <input type="text" name="email" id="email" class="input">
                
                <label>Salário</label>
                <input type="text" name="salario" id="salario" class="input">
                
                <label>CEP</label>
                <input type="text" name="CEP" id="cep" class="input">
                
                <label>Cidade</label>
                <input type="text" name="cidade" id="cidade" class="input">
                
                <label>Estado</label>
                <input type="text" name="estado" id="estado" class="input">

                <label>Endereço</label>
                <input type="text" name="endereco" id="endereco" class="input">
            </form>

            <button id="botao">Cadastrar</button>
        </div>
    </div>
</div>
