.tela-gerente {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #0c2464;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}

.tela-gerente::before,
.tela-gerente::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.tela-gerente::before {
  width: 250px;
  height: 250px;
  top: 5%;
  left: -50px;
  background-color: rgba(237, 230, 84, 0.05);
}

.tela-gerente::after {
  width: 300px;
  height: 300px;
  bottom: -100px;
  right: -100px;
  background-color: rgba(237, 230, 84, 0.08);
}

.gerente-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.gerente-header h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #EDE654;
}

.section-links {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.section-links a {
  text-decoration: none;
  background-color: #EDE654;
  color: #0c2464;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.section-links a:hover {
  background-color: #dada4f;
}

.gerente-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.card-dashboard {
  background-color: white;
  border-radius: 12px;
  color: #333;
  padding: 20px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-dashboard h3 {
  margin: 0 0 15px 0;
  color: #0c2464;
}

.tabela-gerentes {
  width: 100%;
  border-collapse: collapse; /* Remove o espaço entre as bordas da tabela */
  margin-top: 20px;
}

.tabela-gerentes th,
.tabela-gerentes td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Cria uma linha fina para separar as linhas */
}

.tabela-gerentes th {
  background-color: #f2f2f2;
  font-weight: 600;
  color: #333;
}

.tabela-gerentes tbody tr:hover {
  background-color: #f1f1f1;
}
