<div class="clientes-dashboard">
  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Nome do Cliente</th>
        <th>CPF</th>
        <th>Limite</th>
        <th>Salário</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf | formatarCpf }}</td>
        <td>{{ calcularLimite(cliente.salario) | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR"}}</td>
        <td>{{ cliente.salario | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR"}}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <button class="botaoDetalhes" (click)="aprovar(cliente.cpf)" type="button">Aprovar</button>
          <button class="botaoDetalhes" (click)="rejeitar(cliente.cpf)" type="button">Reprovar</button>
        </td>
      </tr>
      <tr *ngIf="clientes.length === 0">
        <td colspan="5">Nenhum cliente para ser aprovado.</td>
      </tr>
    </tbody>
  </table>
</div>

